.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

}
.heading-primary-main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    -moz-animation-timing-function: ease-out;
    

    /*
        animation-delay: 2s;
        animation-iteration-count: 3;
    */
}
.heading-primary-sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 0.5s;
    -moz-animation-timing-function: ease-out;

}